/* Google fonts import */
@import url('#');

/* Override browser default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background styling */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Quiz container */
#quiz-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
}

/* Start view */
#quiz-start {
    margin:3rem 0;
}

#quiz-start h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* Start and retry button */
#new-quiz-button {
    background-color: #4e4e4e;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Quiz question view */
#quiz-question {
    max-width: 100%;
}

#quiz-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#quiz-question-text {
    font-size: 22px;
    margin: 20px 0;
}

/* Quiz form with possible answers */
#quiz-form {
    margin: 20px 0;
}

/* Answer text */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Question submit button */
#submit-button {
    background-color: #4e4e4e;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Progress bar container */
#progress-bar {
    width: 100%; 
    height: 20px;  
    margin-top: 3rem;
    margin-bottom: 3rem;  
    border-radius: 5px; 
    overflow: hidden;
}

/* Progress dots */
.progress-dot {
    width: 10px; 
    height: 10px;
    margin: 0 2px; 
    border: 1px solid #5f5f5f;
    border-radius: 50%; 
    display: inline-block; 
    transition: background-color 0.3s;
}

/* Answered progress dots */
.progress-dot.answered {
    background-color: #222222;
}

/* Style for result view */
#quiz-result {
    font-size: 24px;
    margin-bottom: 20px;
}

#result-text {
    font-size: 24px;
    margin-bottom: 20px;
}

#total-score {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}